body {
    background: yellow;
}

#colorPalette {
    background: rgb(138, 102, 066);
    float: left;
}

#second {
    float: left;
    width: 300px;
    margin-left: 10px;
}

#colorPrewiew {
    width: 80px;
    height: 200px;
    background: black;
    float: left;
}

#colorValues {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    float: left;
}

#colorChanger {
    width: 255px;
    height: 20px;
    margin-top: 30px;
    padding: 0;
    clear: both;
}

#text div input {
    display: block;
    text-align: center;
    width: 170px;
    height: 44px;
}