body {
    background: yellow;
}

.colorPalette {
    background: white;
    float: left;
}

.asideContainer {
    float: left;
    width: 300px;
    margin-left: 10px;
}

.colorPrewiew {
    width: 80px;
    height: 200px;
    background: black;
    float: left;
}

.colorValues {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    float: left;
}

.colorChanger {
    width: 255px;
    height: 20px;
    margin-top: 30px;
    padding: 0;
    clear: both;
    background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(300, 100%, 50%), hsl(240, 100%, 50%), hsl(180, 100%, 50%), hsl(120, 100%, 50%), hsl(60, 100%, 50%), hsl(0, 100%, 50%));
    border-radius: 20px;
}

.colorValues input {
    display: block;
    text-align: center;
    width: 170px;
    height: 44px;
}